<app-header></app-header>
<div id="wrapper">
  <app-sidenavbar></app-sidenavbar>
  <div id="content-wrapper">
    <section class="barlisting-wrapper">
      <div class="container-fluid">
        <!-- Title Start -->
        <div class="row">
          <div class="col-12 heading-tag">
            <h1 class="mb-3"><span>Bar Details :</span> Offer name goes here</h1>
          </div>
        </div>
        <!-- Title End -->
        <div class="row">
          <div class="col-12">
            <div class="white-container">
              <ul class="bardetails-holder">
                <li>
                  <mat-form-field>
                      <mat-label>Offer Title</mat-label>
                      <input matInput placeholder="Offer Title goes here">
                  </mat-form-field>
                </li>
                <li>
                  <mat-form-field>
                      <mat-label>Short Description</mat-label>
                      <textarea matInput placeholder="Lorem ipsum doler amet sit is a simply dummy text."></textarea>
                  </mat-form-field>
                </li>
                <li>
                  <div class="quarter quarter-1">Offer available on</div>
                  <div class="quarter quarter-3">
                    <mat-radio-group class="fontweight-normal">
                      <mat-radio-button value="1" (change)="0" #drinks>Drinks</mat-radio-button>
                      <mat-radio-button value="2" (change)="0" #drinksType>Drink Type</mat-radio-button>
                    </mat-radio-group>                        
                  </div>
                </li>
                <li *ngIf="drinks.checked">
                  <mat-form-field>
                    <mat-select placeholder="Offer on Drinks" [formControl]="toppings" multiple>
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>                      
                </li>
                <li *ngIf="drinksType.checked">
                    <mat-form-field>
                      <mat-select placeholder="Offer on Drink type" multiple>
                        <mat-option value="1">Beer</mat-option>
                        <mat-option value="2">Liquor</mat-option>
                      </mat-select>
                    </mat-form-field>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>