<app-header></app-header>
<div id="wrapper">
  <app-sidenavbar></app-sidenavbar>
  <div id="content-wrapper">
    <section class="barlisting-wrapper">
      <div class="container-fluid">
        <!-- Title Start -->
        <div class="row">
          <div class="col-12 heading-tag">
            <h1 class="mb-3"><span>Bar Details :</span> Offer name goes here</h1>
          </div>
        </div>
        <!-- Title End -->
        <div class="row">
          <div class="col-12 drinks-tab-controller">
            <div class="white-container">
              <!-- Parent Tab Start -->
                <div class="add-sub-cat-holder flex-right">
                  <button type="button" class="add-another-sub-category-btn">Add Another Sub Category</button>
                </div>
                <ngb-tabset class="drink-padding-right-105" type="pills">
                  <ngb-tab>
                    <ng-template ngbTabTitle>Well Drinks</ng-template>
                    <ng-template ngbTabContent>
                      <div class="drink-main-content-holder">
                        <app-drinksidenav class="grow2"></app-drinksidenav>
                        <app-drinkmaincontent class="grow8"></app-drinkmaincontent>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>Cocktail Upgrades</ng-template>
                    <ng-template ngbTabContent>
                      <div class="drink-main-content-holder">
                        <!-- <app-drinksidenav class="grow2"></app-drinksidenav> -->
                        <app-drinkmaincontent class="grow8"></app-drinkmaincontent>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              <!-- Parent Tab End -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>