.heading-tag h1{
    font-size: 24px;
    font-weight: 600;
    border-bottom: 2px solid #dde3e8;
    padding-bottom: 10px;
}
.heading-tag h1 span {
    font-weight: 400;
    color: #738f9d;
    margin-right: 5px;
}
.white-container{
    padding: 15px;
    background-color: #fff;
    position: relative;
}
.add-another-sub-category-btn {
    font-size: 11px;
    font-weight: 600;
    color: #3ed08d;
    text-transform: uppercase;
    width: 105px;
    border: 1px solid #3ed08d;
    padding: 10px;
    line-height: 12px;
    height: 45px;
    cursor: pointer;
}
.add-sub-cat-holder{
    position: absolute;
    display: flex;
    right: 15px;
    top: 15px;
}
.drink-main-content-holder{
    display: flex;
    flex-grow: 1;
}
.drink-main-content-holder{
    margin-left: -20px;
    margin-right: -20px;
}
.grow2{
    flex-grow: 2;
}
.grow8{
    flex-grow: 8;
}

@media (min-width:320px) and (max-width:479px)
{
    .drink-main-content-holder {
        flex-wrap: wrap;
    }
    .grow2,.grow8{
        flex-grow: 1;
        width:100%;
    }
    .add-sub-cat-holder{
        position: relative;
        display: flex;
        right: 0;
        top: 0;
        margin-bottom: 10px;
    }
}