.close-modal{
    color: #fb655a;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    top: -20px;
    right: -14px;
}
.example-chip-list {
    width: 100%;
}
.placeholder_controller{
    position: relative;
    display: inline-block;
}
.placeholder_controller span{
    position: absolute;
    pointer-events: none;
    color: #8f2de2;
    font-size: 15px;
    top: 12px;
    margin-left: 5px;
    transition: all ease-in-out 0.3s;
}
.placeholder_controller:focus-within > span{
    opacity: 0;
}