<div mat-dialog-title class="text-right modal-close-holder mb-0"><button type="button" mat-dialog-close class="close-modal"><i class="fa fa-times-circle"></i></button></div>
<mat-dialog-content class="mat-typography">
  <mat-form-field
      [hideRequiredMarker]="options.value.hideRequired"
      [floatLabel]="options.value.floatLabel">
      <mat-label>Add Sub Category</mat-label>
      <mat-select>
      <mat-option>-- None --</mat-option>
      <mat-option value="Beer">Beer</mat-option>
      <mat-option value="Liquor">Liquor</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let fruit of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">clear</mat-icon>
      </mat-chip>
      <div class="placeholder_controller"><span>Choose Categories</span><input
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"></div>
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>   
</mat-dialog-content>
<mat-dialog-actions class="flex-center">
  <button type="button" class="mat-raised-button mat-primary" mat-dialog-close>Submit</button>
</mat-dialog-actions>
