<app-header></app-header>
<div id="wrapper">
  <app-sidenavbar></app-sidenavbar>
  <div id="content-wrapper">
      <section class="barlisting-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 heading-tag">
              <h1 class="mb-3"><span>Bar Details :</span> Offer name goes here</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-12 bar-related-details-link-holder">
              Hello
            </div>
          </div>
        </div>
      </section>
  </div>
</div>