<app-header></app-header>
<div id="wrapper">
  <app-sidenavbar></app-sidenavbar>
  <div id="content-wrapper">
      <section class="barlisting-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 heading-tag">
              <h1 class="mb-3"><span>Bar Details :</span> Offer name goes here</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-12 bar-related-details-link-holder">
              <!-- Tab Start -->
              <mat-tab-group animationDuration="0ms">
                <mat-tab label="Bar Details">
                  <app-bardetails></app-bardetails>
                </mat-tab>
                <mat-tab label="More Info">
                  <app-moreinfo></app-moreinfo>
                </mat-tab>
                <mat-tab label="Drinks">
                  <app-drinks></app-drinks>
                </mat-tab>
                <mat-tab label="Food">
                  <app-food></app-food>
                </mat-tab>
                <mat-tab label="Offers">
                  <app-offers></app-offers>
                </mat-tab>
              </mat-tab-group>
              <!-- Tab End -->
            </div>
          </div>
        </div>
      </section>
  </div>
</div>