<section class="drink-main-content-wrapper">
  <div class="container-fluid">
    <div class="row two-eliment-show-oneline">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col"><mat-checkbox>Wild Turkey Bourbon</mat-checkbox></div>
          <div class="col">
            <input type="number" class="price-input" placeholder="Enter Price">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col"><mat-checkbox>Wild Turkey Bourbon</mat-checkbox></div>
          <div class="col">
            <input type="number" class="price-input" placeholder="Enter Price">  
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col"><mat-checkbox>Wild Turkey Bourbon</mat-checkbox></div>
          <div class="col">
            <input type="number" class="price-input" placeholder="Enter Price"> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
