<section class="drink-main-content-wrapper">
  <div class="container-fluid">
    <!-- Drink Filter All Item Start -->
    <div class="row">
      <div class="col-12">
        <div class="mb-5 select-all-drink-item">
          <mat-checkbox class="common-filter-item-drink">Select All</mat-checkbox>
          <p class="common-filter-item-drink">Apply price for selected items</p>
          <input type="number" class="price-input common-filter-item-drink" placeholder="Enter Price">
          <button class="common-filter-item-drink drnik-filter-apply" type="button">Apply</button>
        </div>
      </div>
    </div>
    <!-- Drink Filter All Item End -->

    <!-- Drink Item Start -->
    <ngb-tabset class="triangle-style-btn-active" type="pills">
      <ngb-tab>
        <ng-template ngbTabTitle>Draught</ng-template>
        <ng-template ngbTabContent>
          <app-drinkitem></app-drinkitem>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Bottle</ng-template>
        <ng-template ngbTabContent>
          <app-drinkitem></app-drinkitem>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <!-- Drink Item End -->
    <div class="row">
      <div class="col-12 flex-center mt-3 mb-3 add-drink-manually-btn">
        <button type="button">+ Add Drink Manually</button>
      </div>
    </div>
  </div>
</section>
