.two-eliment-show-oneline{
    flex-wrap: wrap;
}
.two-eliment-show-oneline .col{
    width:50%;
    margin: 7px 0;
}
.drink-main-content-wrapper .price-input{
    width:100%;
    display: inline-block;
}
.price-input{
    height: 34px;
    font-size: 13px;
    padding: 7px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #590ae0;
}
.flex-verticle-center{
    align-items: center;
}
.select-all-drink-item{
    padding: 15px 20px;
    border: 1px solid #abbcc4;
    border-radius: 6px;
    display: flex;
    flex-grow: 1;
}
.select-all-drink-item .common-filter-item-drink{
    width:20%;
    font-size: 14px;
    color: #666666;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-all-drink-item .common-filter-item-drink:nth-child(2){
    width:40%;
    justify-content: flex-end;
}
.select-all-drink-item .common-filter-item-drink:nth-child(1){
    justify-content: flex-start;
}
.select-all-drink-item  .drnik-filter-apply,.drnik-filter-apply{
    color: #fff;
    background-color: #3ed08d;
    height: 34px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
}
.add-drink-manually-btn button{
    color: #fff;
    background-color: #3ed08d;
    height: 40px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0 15px;
    line-height: 40px;
}
.close{
    color: #fb655a;
    cursor: pointer;
    font-size: 28px;
}
.modal-title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #545454;
    text-align: center;
}
.add-drink-manually-form,
.add-drink-manually-form li{
    display: flex;
    width:100%;
}
.add-drink-manually-form{
    flex-wrap: wrap;
}
.quarter3{
    width: 75%;
}
.quarter1{
    width:25%;
}
.modal-body{
    padding: 1rem;
}
.half{
    width: 50%;
}
.drink-available-on-holder > label{
    width:30%;
}
.drink-available-on-holder > div{
    width:70%;
}
.add-drink-manually-form li label{
    font-size: 14px;
    color: inherit;
}
.speciality-drink-modal{
    line-height: 60px;
    background-color: #efefef;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}