.heading-tag h1{
    font-size: 24px;
    font-weight: 600;
    border-bottom: 2px solid #dde3e8;
    padding-bottom: 10px;
}
.search-icon-holder{
    position: relative;
}
.input-focus input{
    width:100%;
    background-color: transparent;
    padding: 7px;
    padding-left: 0;
    border: none;
    font-size: 14px;
}
.search-icon-holder::after{
    content: "\f002";
    font-size: 20px;
    position: absolute;
    right: 0;
    left: auto;
    pointer-events: none;
    font-family: 'FontAwesome';
    color: #90a6b0;
    bottom: 26px;
}
.search-icon-holder input{
    padding-right: 25px;
}
.filter-btn{
    color: #590ae0;
    font-size: 34px;
}
.filter-btn::after{
    display: none;
}
.filter-dropdown-holder .dropdown-item{
    padding-left: 0;
    padding-right:0;
}
.filter-dropdown-holder .dropdown-item:focus, 
.filter-dropdown-holder .dropdown-item:hover{
    background-color: transparent;
}