<app-header></app-header>
<div id="wrapper">
    <app-sidenavbar></app-sidenavbar>
    <div id="content-wrapper">
        <section class="barlisting-wrapper">
            <div class="container-fluid">
                <!-- Title Start -->
                <div class="row">
                    <div class="col-12 heading-tag">
                        <h1 class="mb-3">Bar Listing</h1>
                    </div>
                </div>
                <!-- Title End -->
                <!-- Filter Start -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                        <mat-form-field class="search-icon-holder input-focus full-width">
                            <input matInput placeholder="Search By Bar Name">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                        <mat-form-field class="search-icon-holder input-focus full-width">
                            <input matInput placeholder="Search By Locality">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-4 text-right">
                        <div ngbDropdown class="d-inline-block filter-dropdown-holder">
                            <button class="filter-btn" id="dropdownConfig" ngbDropdownToggle><i class="fa fa-sliders"></i></button>
                            <ul ngbDropdownMenu aria-labelledby="dropdownConfig">
                                <li class="dropdown-item">
                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                Filter By Plan
                                            </mat-expansion-panel-header>
                                            <ul class="mt-2">
                                                <li><mat-checkbox>Free</mat-checkbox></li>
                                                <li><mat-checkbox>Premium</mat-checkbox></li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                Filter by Renewal Status
                                            </mat-expansion-panel-header>
                                            <ul class="mt-2">
                                                <li><mat-checkbox>Done</mat-checkbox></li>
                                                <li><mat-checkbox>Upcoming</mat-checkbox></li>
                                                <li><mat-checkbox>Failed</mat-checkbox></li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                Filter by Status
                                            </mat-expansion-panel-header>
                                            <ul class="mt-2">
                                                <li><mat-checkbox>Active</mat-checkbox></li>
                                                <li><mat-checkbox>Inactive</mat-checkbox></li>
                                            </ul>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                Filter by Rating
                                            </mat-expansion-panel-header>
                                            <ul class="mt-2">
                                                <li>
                                                    <mat-checkbox>
                                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox>
                                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox>
                                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox>
                                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                    </mat-checkbox>
                                                </li>
                                                <li>
                                                    <mat-checkbox>
                                                        <i class="fa fa-star"></i>
                                                    </mat-checkbox>
                                                </li>
                                            </ul>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Filter End -->
                <!-- Listing Items Start -->
                <div class="row">
                    <div class="col-12 barlisting-holder">
                        <mat-accordion>
                            <mat-expansion-panel class="mb-3" #myPanel [disabled]="true">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <ul>
                                        <li class="barlisting-img-holder"><img src="/assets/images/bar.jpg" alt="Bar"></li>
                                        <li>Overtime Sports Bar and Grill</li>
                                    </ul>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <ul>
                                        <li>Renewal : Done</li>
                                        <li><button type="button" class="edit-button"><i class="fa fa-pencil"></i></button></li>
                                        <li><button type="button" class="delate-button"><i class="fa fa-trash-o"></i></button></li>
                                    </ul>
                                    <div class="actions">
                                        <button mat-icon-button color="primary" (click)="expandPannel()">
                                            <mat-icon>{{matIcon}}</mat-icon>
                                        </button>
                                    </div>
                                </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- Main Listing Contant Holder Start -->
                                <div class="listing-details heading-tag">
                                    <div class="bar-listing-details-wrapper">
                                        <div>
                                            <h5>Total User check-in</h5>
                                            <p class="">123</p>
                                        </div>
                                        <div>
                                            <h5>Popular Bar?</h5>
                                            <mat-radio-group>
                                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                                <mat-radio-button value="no">No</mat-radio-button>
                                            </mat-radio-group>                                              
                                        </div>
                                        <div>
                                            <h5>Approve</h5>
                                            <mat-slide-toggle></mat-slide-toggle>
                                        </div>
                                        <div class="date-of-renewal">
                                            <h5>Date of Renewal :</h5>
                                            <p>04-01-2019</p>
                                        </div>
                                        <div class="view-rating">
                                            <a href="#">View Rating and Reviews</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Main Listing Contant Holder Start -->
                            </mat-expansion-panel>
                            <mat-expansion-panel class="mb-3" #myPanel1 [disabled]="true">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <ul>
                                        <li class="barlisting-img-holder"><img src="/assets/images/bar.jpg" alt="Bar"></li>
                                        <li>Overtime Sports Bar and Grill</li>
                                    </ul>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <ul>
                                        <li>Renewal : Done</li>
                                        <li><button type="button" class="edit-button"><i class="fa fa-pencil"></i></button></li>
                                        <li><button type="button" class="delate-button"><i class="fa fa-trash-o"></i></button></li>
                                    </ul>
                                    <div class="actions">
                                        <button mat-icon-button color="primary" (click)="expandPannel1()">
                                            <mat-icon>{{matIcon1}}</mat-icon>
                                        </button>
                                    </div>
                                </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- Main Listing Contant Holder Start -->
                                <div class="listing-details heading-tag">
                                    <div class="bar-listing-details-wrapper">
                                        <div>
                                            <h5>Total User check-in</h5>
                                            <p class="">123</p>
                                        </div>
                                        <div>
                                            <h5>Popular Bar?</h5>
                                            <mat-radio-group>
                                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                                <mat-radio-button value="no">No</mat-radio-button>
                                            </mat-radio-group>                                              
                                        </div>
                                        <div>
                                            <h5>Approve</h5>
                                            <mat-slide-toggle></mat-slide-toggle>
                                        </div>
                                        <div class="date-of-renewal">
                                            <h5>Date of Renewal :</h5>
                                            <p>04-01-2019</p>
                                        </div>
                                        <div class="view-rating">
                                            <a href="#">View Rating and Reviews</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Main Listing Contant Holder Start -->
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <!-- Listing Items End -->
            </div>
        </section>
    </div>
</div>