<!-- Filter Start -->
<div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-lg-6 col-xl-4">
      <mat-form-field class="search-icon-holder input-focus full-width">
        <input matInput placeholder="Search By Food Name">
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-6 col-xl-8 text-right">
        <div ngbDropdown class="d-inline-block filter-dropdown-holder">
            <button class="filter-btn" id="dropdownConfig" ngbDropdownToggle><i class="fa fa-sliders"></i></button>
            <ul ngbDropdownMenu aria-labelledby="dropdownConfig">
                <li class="dropdown-item">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                Filter By Plan
                            </mat-expansion-panel-header>
                            <ul class="mt-2">
                                <li><mat-checkbox>Free</mat-checkbox></li>
                                <li><mat-checkbox>Premium</mat-checkbox></li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                Filter by Renewal Status
                            </mat-expansion-panel-header>
                            <ul class="mt-2">
                                <li><mat-checkbox>Done</mat-checkbox></li>
                                <li><mat-checkbox>Upcoming</mat-checkbox></li>
                                <li><mat-checkbox>Failed</mat-checkbox></li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                Filter by Status
                            </mat-expansion-panel-header>
                            <ul class="mt-2">
                                <li><mat-checkbox>Active</mat-checkbox></li>
                                <li><mat-checkbox>Inactive</mat-checkbox></li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                Filter by Rating
                            </mat-expansion-panel-header>
                            <ul class="mt-2">
                                <li>
                                    <mat-checkbox>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </mat-checkbox>
                                </li>
                                <li>
                                    <mat-checkbox>
                                        <i class="fa fa-star"></i>
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </li>
            </ul>
        </div>
    </div>
</div>
  <!-- Filter End -->
  <!-- Listing Items Start -->
  <div class="row">
      <div class="col-12 barlisting-holder">
          <mat-accordion>
              <mat-expansion-panel class="mb-3" #myPanel [disabled]="true">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                      <ul>
                          <li class="barlisting-img-holder"><img src="/assets/images/bar.jpg" alt="Bar"></li>
                          <li>Braised Leeks with Mozzarella & a Fried Egg</li>
                      </ul>
                  </mat-panel-title>
                  <mat-panel-description>
                      <ul>
                          <li>Renewal : Done</li>
                          <li><a routerLink="/food/food-edit" class="edit-button"><i class="fa fa-pencil"></i></a></li>
                          <li><button type="button" class="delate-button"><i class="fa fa-trash-o"></i></button></li>
                          <li class="accordine-opener"><button mat-icon-button color="primary" (click)="expandPannel()"><mat-icon>{{matIcon}}</mat-icon></button></li>
                      </ul>
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                  <!-- Main Listing Contant Holder Start -->
                  <div class="listing-details heading-tag">
                    <div class="bar-listing-details-wrapper">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <div class="spacility-food">
                            <div class="flex-left"><mat-slide-toggle>Speciality Food?</mat-slide-toggle></div>
                            <div class="flex-right">
                                <p class="color-green"><span class="mr-1">Price:</span><strong>$45</strong></p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- Main Listing Contant Holder Start -->
              </mat-expansion-panel>
              <mat-expansion-panel class="mb-3" #myPanel1 [disabled]="true">
                  <mat-expansion-panel-header>
                  <mat-panel-title>
                      <ul>
                          <li class="barlisting-img-holder"><img src="/assets/images/bar.jpg" alt="Bar"></li>
                          <li>Malted Custard French Toast</li>
                      </ul>
                  </mat-panel-title>
                  <mat-panel-description>
                      <ul>
                          <li>Renewal : Done</li>
                          <li><a routerLink="/food/food-edit" class="edit-button"><i class="fa fa-pencil"></i></a></li>
                          <li><button type="button" class="delate-button"><i class="fa fa-trash-o"></i></button></li>
                          <li class="accordine-opener"><button mat-icon-button color="primary" (click)="expandPannel1()"><mat-icon>{{matIcon}}</mat-icon></button></li>
                      </ul>
                  </mat-panel-description>
                  </mat-expansion-panel-header>
                  <!-- Main Listing Contant Holder Start -->
                  <div class="listing-details heading-tag">
                    <div class="bar-listing-details-wrapper">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <div class="spacility-food">
                            <div class="flex-left"><mat-slide-toggle>Speciality Food?</mat-slide-toggle></div>
                            <div class="flex-right">
                                <p class="color-green"><span class="mr-1">Price:</span><strong>$45</strong></p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- Main Listing Contant Holder Start -->
              </mat-expansion-panel>
          </mat-accordion>
      </div>
  </div>
  <!-- Listing Items End -->