<app-header></app-header>
<div id="wrapper">
  <app-sidenavbar></app-sidenavbar>
  <div id="content-wrapper">
    <section class="barlisting-wrapper">
      <div class="container-fluid">
          <!-- Title Start -->
          <div class="row">
              <div class="col-12 heading-tag">
                  <h1 class="mb-3">Manage Analytics</h1>
              </div>
          </div>
          <!-- Title End -->
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mb-5">
                <div class="setting-tiles analytics-holder">
                    <div class="supad-icon mng-supad-ic manage-super-admin-icon5"></div>
                    <span>Total App Users</span>
                    <strong>1,205</strong>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mb-5">
                <div class="setting-tiles analytics-holder">
                    <div class="supad-icon mng-supad-ic manage-super-admin-icon6"></div>
                    <span>Total Bar Owners</span>
                    <strong>102</strong>
                </div>
            </div>
            </div>
        </div>
    </section>
  </div>
</div>