<section class="moreinfo-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <ul class="bardetails-holder">
                <li><label>Open Hours</label></li>
                <li>
                  <div class="half">
                    <mat-form-field>
                      <mat-label>From</mat-label>
                      <input matInput [ngxTimepicker]="picker">
                      <ngx-material-timepicker #picker></ngx-material-timepicker>
                    </mat-form-field>
                  </div>
                  <div class="half">
                      <mat-form-field>
                        <mat-label>To</mat-label>
                        <input matInput [ngxTimepicker]="picker1">
                        <ngx-material-timepicker #picker1></ngx-material-timepicker>
                      </mat-form-field>
                  </div>
                </li>
                <li class="owl-controller">
                  <owl-carousel-o class="moreinfo-owl-holder" [options]="customOptions">
                    <ng-template carouselSlide id="owl-slide-1"><img src="assets/images/thumbnel_1.jpg" alt="Image"></ng-template>  
                    <ng-template carouselSlide id="owl-slide-2"><img src="assets/images/thumbnel_2.jpg" alt="Image"></ng-template>  
                    <ng-template carouselSlide id="owl-slide-3"><img src="assets/images/thumbnel_3.jpg" alt="Image"></ng-template>  
                    <ng-template carouselSlide id="owl-slide-4"><img src="assets/images/bar.jpg" alt="Image"></ng-template>
                  </owl-carousel-o>
                </li>
              </ul>
          </div>
      </div>
  </div>
</section>