@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/*

    font-family: 'Lato', sans-serif;

    font-family: 'Ubuntu', sans-serif;
    
    font-family: 'Open Sans', sans-serif;

*/
/*-=-=-=-==-==-=-=-=-=-=-=-=-==-==-==-= Common Library -=-=-------------=-=-*/
*,p{margin:0;}*{outline:0;padding:0}.html{font-size:14px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{font-family: 'Open Sans', sans-serif;font-size:12px;background-color: #f5f5f5;}h1,h2,h3,h4,h5,h6{font-family: 'Lato', sans-serif;}a,button{text-decoration:none;color:#555;display:inline-block}.block_element,address,article,aside,footer,header,nav,section{display:block}a:focus,a:hover{color:#23527c;text-decoration:none}img{border:0;vertical-align:middle;max-width:100%}dl,ol,ul{list-style:none}.padding_bottom_60{padding-bottom:60px}.padding_bottom_70{padding-bottom:70px}button{background:transparent;border:none;}ul{margin-bottom:0}
a:focus,button:focus{outline: none;}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #686868;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #686868;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #686868;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #686868;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #686868;
}
::placeholder { /* Most modern browsers support this now. */
    color: #686868;
    opacity:  1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
 }
 .alert-success,.alert-danger{
    color: #ffffff;
    font-size: 14px;
    border-color: transparent;
    box-shadow: 0 5px 38px rgba(0,0,0,0.2);
    letter-spacing: 0.5px;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    border: 2px solid transparent;
 }
 .alert-danger {
    background-color: #ca4350;
    border-color:#f1a1a9;
 }
 .alert-success {
    background-color: #4ee26a;
    border-color:#d0ffd9;
 }
 .disabled,a.disabled,button.disabled,input[type="submit"].disabled{
    cursor: not-allowed;
 }
 .modal-backdrop.show {
    opacity: .6;
}
.modal-body{
    padding: 0.5rem;
}
.modal-dialog,.modal.show .modal-dialog {
    max-width: 700px;
    /* margin: 3rem auto 1.75rem; */
    margin: 0;
    width: 90%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
select{
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.tringle_arrow{
    position: relative;
}
.tringle_arrow::after {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    color: #000;
    font-size: 19px;
    top: 8px;
    right: 8px;
    pointer-events: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.img_and_video_slider_controller{
    max-width: 535px;
    margin: 0 auto;
}
.btn.focus, .btn:focus {
  box-shadow: none;
}
button,a{
  cursor: pointer;
}
#content-wrapper > .container-fluid {
  min-height: 80vh;
}
.full-width{
  width:100%;
}
.mat-form-field-label{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 2px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #dde3e8 !important;
}
.dropdown-menu {
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 50px #ccc;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
  color: inherit;
}
.mat-expansion-panel-header{
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
  height: 35px !important;
  padding-right: 0 !important;
  color: #818181;
  font-weight: 600;
  font-size: 14px;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]){
  box-shadow: none !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #8829e2;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-keyboard-focused, 
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-program-focused, 
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover{
  background-color: transparent;
}
.mat-expansion-panel{
  background: transparent;
}
.mat-expansion-panel-body{
  padding: 0 !important;
}
.mat-content{
  margin-right: 20px;
}
.mat-expansion-panel{
  padding: 0 15px;
}
.filter-dropdown-holder  .mat-checkbox-layout .mat-checkbox-label{
  margin-left: 10px;
  font-weight: 600;
}
.barlisting-holder .mat-content{
  height: 100%;
  padding: 10px 0;
}
.barlisting-holder .mat-content {
  margin-right: 0;
}
.mat-radio-outer-circle {
  height: 18px !important;
  width: 18px !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #8829e2;
}
.mat-radio-checked .mat-radio-inner-circle {
  transform: scale(.40) !important;
}
.mat-radio-inner-circle {
  left: -1px !important;
  top: -1px !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #8829e2;
}
.mat-radio-button{
  margin-right: 10px;
}
.mat-radio-label-content{
  color: #738f9d;
  font-size: 14px;
  display: block;
  font-weight: 600;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(135,40,226,.54);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #8829e2;
}
.date-of-renewal p{
  font-weight: 600;
}
.view-rating a{
  color: #8829e2;
  text-decoration: underline;
  font-weight: 600;
}
.listing-details{
  border-top: 1px solid #dcf6ff;
}
.mat-tab-group {
  margin-bottom: 34px;
}
.mat-tab-label {
  height: 30px !important;
  padding: 0 7px !important;
  min-width: 90px !important;
}
.mat-ink-bar{
  width:90px !important;
}
.mat-tab-label, .mat-tab-link{
  font-family: 'Open Sans', sans-serif;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #6210e1;
}
.mat-tab-label-content{
  font-weight: 600;
}
.mat-tab-label-active .mat-tab-label-content{
  color: #6210e1;
  font-weight: bold;
}
.bar-related-details-link-holder .mat-tab-label-active{
  opacity: 1;
}
.bar-related-details-link-holder .mat-tab-header{
  border-bottom: none;
}
.mat-tab-body{
  margin-top: 15px;
  background-color: #fff;
  padding: 15px;
  bottom: auto !important;
  overflow: visible !important;
}
.mat-tab-body-wrapper{
  overflow: visible !important;
}
.mat-tab-body-content {
  overflow: visible !important;
}
.mat-input-element,.mat-select-trigger {
  padding: 7px 0 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
}
.mat-form-field {
  width:100%;
}
textarea{
  resize: none !important;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button{
  font-family: 'Open Sans', sans-serif;
  border-radius: 0 !important;
  font-weight: 600;
  padding: 0 25px !important;
  min-width: 115px !important;
}
.accordine-opener .mat-icon-button{
  min-width: auto !important;
  padding: 0 !important;
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #3ed08d;
}
.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #dde3e8;
}
.mat-raised-button.mat-accent {
  color: #738f9d;
}
@media (min-width:320px) and (max-width:479px){
  .bardetails-button-controller .mat-button, .bardetails-button-controller .mat-fab, .bardetails-button-controller .mat-flat-button, .bardetails-button-controller .mat-icon-button, .bardetails-button-controller .mat-mini-fab, .bardetails-button-controller .mat-raised-button, .bardetails-button-controller .mat-stroked-button{
    padding: 0 10px !important;
    min-width: auto !important;
    font-size: 11px;
  }
}
.flex-left{
  display: flex;
  justify-content: flex-start;
}
.flex-right{
  display: flex;
  justify-content: flex-end;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.mat-dialog-container {
  max-width:80vw;
  width: 500px !important;
}
.mat-dialog-title{
  position: relative;
}
.mat-dialog-container{
  border-radius: 0 !important;
}
.mat-select-arrow{
  border: none !important;
  position: relative;
}
.mat-select-arrow::after{
  content: "\f107";
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  font-size: 16px;
  color: #929292;
  top: -12px;
  font-weight: bold;
  pointer-events: none;
}
/* Chip */

.mat-chip {
  font-size: 15px;
}
.mat-standard-chip {
  padding: 7px 12px;
  border-radius: 0 !important;
}
.mat-standard-chip.mat-chip-with-trailing-icon {
  padding-right: 12px !important;
  padding-left: 12px !important;
}
.mat-chip.mat-standard-chip {
  background-color: #fff;
  color: #8f2de2;
  box-shadow: 5px 0px 21px rgba(157,157,157,0.29);
}
.mat-form-field-appearance-legacy .mat-form-field-label{
  color:#8f2de2;
}
.mat-chip-list-wrapper input.mat-input-element{
  padding: 10px 0;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
  color: #fb655a;
  opacity: 1;
}
.mat-chip .mat-chip-remove.mat-icon, .mat-chip .mat-chip-trailing-icon.mat-icon{
  font-size: 20px;
}
.mat-chip-list-wrapper {
  padding-bottom: 20px;
}
.mat-autocomplete-panel{
  background-color: #f4f4f4;
}
.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover){
  background-color: #f4f4f4;
}

/* Chip */
.drinks-tab-controller .nav-pills .nav-link{
  border: 1px solid #590ae0;
  padding: 0 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #590ae0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border-radius: 0;
  height: 45px;
  line-height: 45px;
  background-color: #fff;
  margin:0 10px 10px 0; 
  text-align: center;
}
.drinks-tab-controller .nav-pills .nav-link.active, 
.drinks-tab-controller .nav-pills .show > .nav-link{
  color: #fff;
  background-color: #590ae0;
}
.drinks-tab-controller .tab-content{
  background-color: #fff;
  padding: 20px;
}
.drink-padding-right-105 > ul.nav {
  padding-right: 105px;
}
.two-eliment-show-oneline .mat-checkbox-layout span{
  color: #686868;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
label{
  margin-bottom: 0;
}
.triangle-style-btn-active .nav-pills .nav-link.active, 
.triangle-style-btn-active .nav-pills .show > .nav-link{
  position: relative;
}
.triangle-style-btn-active .nav-pills .nav-link.active::after,
.triangle-style-btn-active .nav-pills .show > .nav-link::after{
  content: "";
  width:0;
  height: 0;
  border-style: solid;
  border-width:10px 10px 0;
  border-color: #590ae0 transparent transparent;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.flex-tab-left > .nav{
  justify-content: flex-start !important;
}
.modal-dialog, .modal.show .modal-dialog {
  max-width: 550px;
}
.modal-content{
  border-radius: 0;
}
.modal-backdrop{
  z-index: 99 !important;
}
.modal{
  z-index: 999 !important;
}
.drink-available-on-holder > div .mat-checkbox-layout .mat-checkbox-label{
  font-size: 14px;
  color: #8f2de2;
}
.drink-available-on-holder > div .mat-checkbox:not(:last-child){
  margin-right: 1rem;
}
.mat-slide-toggle-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.offer-active-inactive .mat-slide-toggle-content{
  color: #65808d;
  font-size: 14px;
}
@media (min-width:320px) and (max-width:767px)
{
  .mat-tab-body {
    flex-basis: auto !important;
    width: 100%;
  }
  .select-all-drink-item {
    flex-wrap: wrap;
  }
  .modal-dialog, .modal.show .modal-dialog {
    margin-top: 70px;
  }
}
@media (min-width:320px) and (max-width:479px)
{
  .social-holder .mat-form-field-wrapper{
    width:140px;
  }
  .drinks-tab-controller .nav-pills .nav-link {
    padding: 0 10px;
    font-size: 14px;
  }
  .drink-padding-right-105 > ul.nav {
    padding-right: 0;
  }
  .add-drink-manually-form .mat-form-field-infix {
    width: 110px;
  }
}
@media (min-width:480px) and (max-width:767px)
{
  .drinks-tab-controller .nav-pills .nav-link {
    padding: 0 10px;
    font-size: 12px;
  }
}
@media (min-width:768px) and (max-width:1024px)
{
  .barlisting-holder .mat-content {
    flex-direction: column;
  }
}


/* ===================== Admin Panel ====================== */
html {
    position: relative;
  }
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
  }
  
  body.fixed-nav #content-wrapper {
    margin-top: 56px;
    padding-left: 90px;
  }
  
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 0;
  }
  
  @media (min-width: 768px) {
    body.fixed-nav #content-wrapper {
      padding-left: 225px;
    }
    body.fixed-nav.sidebar-toggled #content-wrapper {
      padding-left: 90px;
    }
  }
  
  .scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 46px;
  }
  
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }
  
  .scroll-to-top:hover {
    background: #343a40;
  }
  
  .scroll-to-top i {
    font-weight: 800;
  }
  
  .smaller {
    font-size: 0.7rem;
  }
  
  .o-hidden {
    overflow: hidden !important;
  }
  
  .z-0 {
    z-index: 0;
  }
  
  .z-1 {
    z-index: 1;
  }
  @media (min-width:320px) and (max-width:767px)
  {
    #wrapper #content-wrapper {
      padding-right: 0;
      padding-left: 0;
    }
    .mat-content {
      flex-direction: column !important;
    }
  }
  /* Admin Panel */