<div class="row mt-3 two-eliment-show-oneline">
    <div class="col-12 col-sm-6 mb-2">
      <div class="row flex-verticle-center">
        <div class="col"><mat-checkbox>Wild Turkey Bourbon</mat-checkbox></div>
        <div class="col">
          <input type="number" class="price-input" placeholder="Enter Price">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-2">
      <div class="row flex-verticle-center">
        <div class="col"><mat-checkbox>Chardonnay</mat-checkbox></div>
        <div class="col">
          <input type="number" class="price-input" placeholder="Enter Price">  
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-2">
      <div class="row flex-verticle-center">
        <div class="col"><mat-checkbox>Merlot</mat-checkbox></div>
        <div class="col">
          <input type="number" class="price-input" placeholder="Enter Price"> 
        </div>
      </div>
    </div>
  </div>